#aboutMe {
    .contents-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        .info-wrap {
            display: flex;
            flex-direction: column;
            max-width: 812px;
            width: 100%;
            gap: 30px;
            flex-flow: row wrap;
            justify-content: space-between;
            @include screen(t, m){
                max-width: 736px;
            }
            .info {
                display: flex;
                align-items: center;
                gap: 16px;
                width: 36%;
                @include screen(m){
                    width: 100%;
                }
                svg {
                    width: 24px;
                    height: 24px;
                }
                .title {
                    font-size: 18px;
                    font-weight: 600;
                    color: #616161;
                    word-break: keep-all;
                }
            }
        }
        .divide {
            display: flex;
            gap: 16px;
            svg {
                width: 10px;
                height: 10px;
            }
        }
        .text-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            position: relative;
            @include screen(m){
                display: inline-block;
                gap: 10px;
            }
            .text {
                display: inline;
                word-break: keep-all;
                font-weight: 500;
                line-height: 28px;
                max-width: 680px;
                @include screen(t, m){
                    max-width: 580px;
                }
            }
            .quote {
                width: 36px;
                height: 36px;
                opacity: 0.6;
                @include screen(m){
                    display: block;
                    width: 30px;
                    height: 30px;
                }
                &.left {
                    background: url($quote-left) no-repeat center;
                    background-size: cover;
                    @include screen(m){
                        margin-bottom: 10px;
                    }
                }
                &.right {
                    background: url($quote-right) no-repeat center;
                    background-size: cover;
                    @include screen(m){
                        float:right; 
                        clear:right;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}