#career {
    .contents-wrap {
        .content {
            display: flex;
            justify-content: center;
            @include screen(m){
                flex-direction: column;    
            }
            .logo-wrap {
                width: 40%;
                @include screen(m){
                    width: 100%;
                    margin-bottom: 40px;
                }
                .logo {
                    background: url($linco-logo) no-repeat center;
                    background-size: cover;
                    width: 148px;
                    height: 148px;
                    border-radius: 50%;
                    border: 1px solid #eee;
                    margin: 0 auto;
                }
            }
            .info-wrap {
                width: 50%;
                @include screen(m){
                    width: 100%;
                }
                .company {
                    margin-bottom: 8px;
                }
                .date {
                    color: #b8b8b8;
                    margin-bottom: 16px;
                }
                .info {
                    .title {
                        color: $semi-title;
                        font-weight: 600;
                        &::before {
                            content: "";
                            border-left: 5px solid $semi-title;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}