#project {
    background-color: $theme;
    .flexWrap {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 0 auto;
        max-width: 80rem;
        .contents-wrap {
            background-color: white;
            border: 1px solid #eee;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 30px 20px 40px;
            box-shadow: 5px 6px 14px 2px rgba(0, 0, 0, 0.2);
            .title-wrap {
                text-align: center;
                padding-bottom: 40px;
                .title {
                    font-size: 18px;
                    font-weight: bold;
                }
                .line {
                    border-top: 1px solid #d7d7d7;
                    width: 30px;
                    margin: 8px auto 6px;
                }
                .type-wrap {
                    .type {
                        display: inline-block;
                        margin-right: 3px;
                        font-size: 14px;
                        color: #a0a0a0;
                        &:not(:last-child){
                            &::after {
                                content: " ·";
                            }
                        }
                    }
                }
            }
            .contents {
                display: flex;
                gap: 20px;
                position: relative;
                @include screen(t, m) {
                    flex-direction: column;
                    align-items: center;
                    gap: 35px;
                }
                .slick-slider {
                    position: unset;
                    width: 50%;
                    @include screen(t, m) {
                        width: 100%;
                    }
                    .slick-slide {
                        position: relative;
                        height: inherit !important;
                        .project-image-wrap {
                            position: relative;
                            width: 100%;
                            height: 0;
                            padding-bottom: 56.26%;
                            overflow: hidden;
                            .project-image {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-position: top;
                                background-size: contain;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                    .slick-dots {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        bottom: -20px;
                        gap: 6px;
                        width: 50%;
                        @include screen(t, m) {
                            width: 100%;
                        }
                        li {
                            width: 6px;
                            height: 6px;
                            margin: 0;
                            button {
                                width: 100%;
                                height: 100%;
                                padding: 0;
                                border-radius: 50%;
                                background-color: rgb(168, 168, 168);
                                &:before {
                                    line-height: 0;
                                    font-size: 0;
                                    width: 0;
                                    height: 0;
                                    content: "";
                                }
                            }
                            &.slick-active {
                                button {
                                    background-color: rgb(68, 68, 68);
                                }
                            }
                        }
                    }
                }
                .info-wrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;
                    color: #4d4d4d;
                    .info {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        &.desc {
                            word-break: keep-all;
                            border-bottom: 1px solid #eee;
                            padding-bottom: 14px;
                            margin-bottom: 10px;
                            line-height: 26px;
                            @include screen(m) {
                                align-items: flex-start;
                            }
                        }
                        .desc {
                            width: 100%;
                        }
                        svg {
                            width: 16px;
                            margin-right: 10px;
                        }
                        .info-title-wrap {
                            display: flex;
                            align-items: center;
                            .title {
                                width: 120px;
                                font-weight: bold;
                                @include screen(t, m) {
                                    width: 85px;
                                    flex-shrink: 0;
                                }
                            }
                        }
                        .work {
                            word-break: keep-all;
                            line-height: 26px;
                        }
                        .tag-wrap {
                            display: flex;
                            gap: 8px;
                            flex-wrap: wrap;
                            .tag {
                                border-radius: 12px;
                                padding: 5px 8px;
                                color: white;
                                background-color: #4d4d4d;
                                &.react {
                                    background-color: #61DBFB;
                                }
                                &.scss {
                                    background-color: #cc6699;
                                }
                            }
                        }
                        .url-wrap {
                            display: flex;
                            gap: 8px;
                            flex-wrap: wrap;
                            .url {
                                cursor: pointer;
                                svg {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}