#skill {
    .contents-wrap {
        text-align: center;
        padding-bottom: 50px;
        .title {
            font-weight: 600;
            font-size: 18px;
            color: #888888;
            padding-bottom: 25px;
        }
        .contents {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .icon-wrap {
                position: relative;
                box-sizing: border-box;
                border: 1px solid #eee;
                border-radius: 8px;
                width: 120px;
                height: 120px;
                @include screen(t, m){
                    width: 80px;
                    height: 80px;
                }
                .icon {
                    border-radius: 8px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    &.html {
                        background-image: url($html);
                    }
                    &.css {
                        background-image: url($css);
                    }
                    &.javascript {
                        background-image: url($javascript);
                    }
                    &.sass {
                        background-image: url($sass);
                    }
                    &.react {
                        background-image: url($react);
                    }
                    &.typescript {
                        background-image: url($typescript);
                    }
                    &.nextjs {
                        background-image: url($nextjs);
                    }
                    &.git {
                        background-image: url($git);
                    }
                    &.python {
                        background-image: url($python);
                    }
                    &.selenium {
                        background-image: url($selenium);
                    }
                    &.figma {
                        background-image: url($figma);
                    }
                }
            }
        }
    }
}