#footer {
    background-color: #EEEEEE;
    color: #222831;
    padding: 30px 40px;
    .contact-wrap {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        .icon {
            &.git {
                background: url($github) no-repeat center;
                background-size: cover;
            }
            &.blog {
                background: url($blog) no-repeat center;
                background-size: cover;
            }
            svg {
                height: 48px;
                display: inline-block;
            }
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
    }
    .right {
        text-align: center;
    }
}