#footer {
    background-color: #EEEEEE;
    color: #222831;
    padding: 30px 40px;
    .contact-wrap {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        .icon {
            &.git {
                background: url($github) no-repeat center;
                background-size: cover;
                width: 48px;
                height: 48px;
                cursor: pointer;
            }
            svg {
                height: 48px;
                display: inline-block;
            }
        }
    }
    .right {
        text-align: center;
    }
}