#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    font-weight: bold;
    .contents-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        max-width: 1830px;
        padding: 20px 40px;
        @include screen(m){
            padding: 10px 30px;
        }
        &.sticky {
            background: white;
            opacity: 0.8;
            transition: background-color .3s ease-out;
            color: rgb(39, 39, 39);
        }
        .logo {
            cursor: pointer;
        }
        .btn-wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            .btn {
               text-align: center;
               border-radius: 8px;
               cursor: pointer;
            }
        }
    }
}